$bg : #E5E5E5;

%helios-300{
    font-family: 'Helios', sans-serif;
    font-weight: 300;
}

%roboto-400 {
  font-family: 'Roboto-Rregular', sans-serif;
  font-weight: 400;
}

%monts-300 {
  font-family: 'Montserrat-Light', sans-serif;
  font-weight: 300;
}
%monts-500 {
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
}
%monts-600 {
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-weight: 600;
}