@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.page {
  background-image: url('../images/backround__image/1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__box {
    background: rgba(0, 0, 0, 0.5);
  }

  &__inner {
    background-image: url('../images/backround__image/2.svg');
    background-position: right center;
    background-size: auto;
    background-repeat: no-repeat;
    padding: 60px 0;
  }

  &__title {
    max-width: 660px;
    @extend %helios-300;
    font-size: 109px;
    line-height: 126px;
    letter-spacing: 0.1em;
    color: #fff;
  }

  &__descr {
    @extend %monts-300;
    color: #fff;
    font-size: 40px;
    line-height: 48px;
    max-width: 610px;
    margin-bottom: 60px;
  }

  &__btn-box {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 30px;
      background-image: url('../images/icons/arrow-right.svg');
      width: 143px;
      height: 74px;
    }
  }

  &__btn {
    display: inline-block;
    padding: 38px 68px;
    background: linear-gradient(90deg, #EB9562 0%, #E0CFA7 148.54%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 31px;
    @extend %monts-600;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
  }
}

.header {
  background: rgba(0, 0, 0, 0.55);
  padding: 20px 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item {
    padding: 0px 35px;
  }

  &__link {
    @extend %roboto-400;
    font-size: 30px;
    line-height: 34px;
    color: #fff;
    transition: all .3s;

    &:hover {
      color: #EB9562;
    }
  }
}

.rooms {
  background: rgba(0, 0, 0, 0.5);
  &__container {
    max-width: 1440px;
    margin: 0 auto;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 260px 260px;
  }

  &__list {
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__list-box {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.45);

    }
  }

  &__link {
    margin-top: auto;
    @extend %monts-500;
    font-size: 26px;
    line-height: 31px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.42);
    display: inline-block;
    z-index: 10;
    padding: 0 30px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-color: #fff;
      height: 2px;
      width: 15px;
      top: 10px;
      right: 5px;
      transform: rotate(45deg)
    }

    &::before {
      content: '';
      position: absolute;
      background-color: #fff;
      height: 2px;
      width: 15px;
      bottom: 10px;
      right: 5px;
      transform: rotate(-45deg)
    }
  }
}

.why{
  padding: 88px 0;
  &__title{
    color: #8D3500;
    margin-bottom: 55px;
    @extend %roboto-400;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
  }
  &__inner{
    display: flex;
    gap: 60px;
    justify-content: space-between;
    margin-bottom: 55px;
  }
  &__item{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 28px;
    border: 1px solid #8D3500;
    border-radius: 18px;
  }
  &__num{
    @extend %monts-500;
    font-size: 56px;
    line-height: 60px;
    margin-bottom: 10px;
  }
  &__descr{
    @extend %monts-300;
    font-size: 24px;
    line-height: 29px;
  }
  &__description{
    @extend %monts-300;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
  }
  &__description-one{
    margin-bottom: 112px;
  }
  &__cart{
    width: 100%;
    height: 600px;
    margin-bottom: 30px;
  }
}

.info{
  padding-top: 40px;
  padding-bottom: 80px;
  &__inner{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__content{
    max-width: 570px;
  }
  &__title{
    @extend %roboto-400;
    font-size: 50px;
    line-height: 58px;
    margin-bottom: 20px;
  }
}

.form{
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
    &__input {
        padding: 12px 24px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        background-color: transparent;
        margin-bottom: 10px;
        max-width: 550px;
        width: 100%;
        color: rgba(0, 0, 0, 0.4);
        &::placeholder {
          font-size: 21px;
          line-height: 25px;
          color: rgba(0, 0, 0, 0.4);
        }
      }
      &__btn{
        padding: 20px 0;
        width: 230px;
        background: linear-gradient(90deg, #EB9562 0%, #E0CFA7 148.54%);
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 31px;
        color: #fff;
        margin: 0 auto;
        margin-top: 50px;
        @extend %monts-600;
        font-size: 14px;
        line-height: 18px;
        border: none;
        cursor: pointer;
      }
      &__btn-box{
        display: flex;
        justify-content: center;
      }
}

.footer{
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #562000;
  &__inner{
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  &__logo-link{
    margin-bottom: 11px;
    display: inline-block;
  }
  &__text,
  &__title{
    font-size: 20px;
    line-height: 25px;
    @extend %monts-300;
    color: #fff;
  }
  &__list{
    display: flex;
    gap: 17px;
  }
  &__agency{
    max-width: 182px;
    margin-bottom: 20px;
  }
  &__contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  &__chat{
    max-width: 157px;
    margin-top: 10px;
    text-align: center;
  }
}

@import 'media';