@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';


.page {
  background-image: url('../images/backround__image/1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__box {
    background: rgba(0, 0, 0, 0.5);
  }

  &__inner {
    background-image: url('../images/backround__image/2.svg');
    background-position: right center;
    background-size: auto;
    background-repeat: no-repeat;
    padding: 60px 0;
  }

  &__title {
    max-width: 660px;
    @extend %helios-300;
    font-size: 109px;
    line-height: 126px;
    letter-spacing: 0.1em;
    color: #fff;
  }

  &__descr {
    @extend %monts-300;
    color: #fff;
    font-size: 40px;
    line-height: 48px;
    max-width: 610px;
    margin-bottom: 60px;
  }

  &__btn-box {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 30px;
      background-image: url('../images/icons/arrow-right.svg');
      width: 143px;
      height: 74px;
    }
  }

  &__btn {
    display: inline-block;
    padding: 38px 68px;
    background: linear-gradient(90deg, #EB9562 0%, #E0CFA7 148.54%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 31px;
    @extend %monts-600;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
  }
}

.header {
  background: rgba(0, 0, 0, 0.55);
  padding: 20px 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__btn-close{
    display: none;
  }
  &__item {
    padding: 0px 35px;
  }
  &__btn{
    display: none;
  }
  &__link {
    @extend %roboto-400;
    font-size: 30px;
    line-height: 34px;
    color: #fff;
    transition: all .3s;

    &:hover {
      color: #EB9562;
    }
  }
}

.rooms {
  background: rgba(0, 0, 0, 0.5);

  &__container {
    max-width: 1440px;
    margin: 0 auto;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 260px 260px;
  }

  &__list {
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__list-box {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.45);

    }
  }

  &__link {
    margin-top: auto;
    @extend %monts-500;
    font-size: 26px;
    line-height: 31px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.42);
    display: inline-block;
    z-index: 10;
    padding: 0 30px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-color: #fff;
      height: 2px;
      width: 15px;
      top: 10px;
      right: 5px;
      transform: rotate(45deg)
    }

    &::before {
      content: '';
      position: absolute;
      background-color: #fff;
      height: 2px;
      width: 15px;
      bottom: 10px;
      right: 5px;
      transform: rotate(-45deg)
    }
  }
}

.why {
  padding: 88px 0;

  &__title {
    color: #8D3500;
    margin-bottom: 55px;
    @extend %roboto-400;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
  }

  &__inner {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    margin-bottom: 55px;
  }

  &__item {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 28px;
    border: 1px solid #8D3500;
    border-radius: 18px;
  }

  &__num {
    @extend %monts-500;
    font-size: 56px;
    line-height: 60px;
    margin-bottom: 10px;
  }

  &__descr {
    @extend %monts-300;
    font-size: 24px;
    line-height: 29px;
  }

  &__description {
    @extend %monts-300;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
  }

  &__description-one {
    margin-bottom: 112px;
  }

  &__cart {
    width: 100%;
    height: 600px;
    margin-bottom: 30px;
  }
}

.info {
  padding-top: 40px;
  padding-bottom: 80px;

  &__inner {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__content {
    max-width: 570px;
  }

  &__title {
    @extend %roboto-400;
    font-size: 50px;
    line-height: 58px;
    margin-bottom: 20px;
  }
}

.form {
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__input {
    padding: 12px 24px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: transparent;
    margin-bottom: 10px;
    max-width: 550px;
    width: 100%;
    color: rgba(0, 0, 0, 0.4);

    &::placeholder {
      font-size: 21px;
      line-height: 25px;
      color: rgba(0, 0, 0, 0.4);
    }
  }

  &__btn {
    padding: 20px 0;
    width: 230px;
    background: linear-gradient(90deg, #EB9562 0%, #E0CFA7 148.54%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 31px;
    color: #fff;
    margin: 0 auto;
    margin-top: 50px;
    @extend %monts-600;
    font-size: 14px;
    line-height: 18px;
    border: none;
    cursor: pointer;
  }

  &__btn-box {
    display: flex;
    justify-content: center;
  }
}

.footer {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #562000;

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__logo-link {
    margin-bottom: 11px;
    display: inline-block;
  }

  &__text,
  &__title {
    font-size: 20px;
    line-height: 25px;
    @extend %monts-300;
    color: #fff;
  }

  &__list {
    display: flex;
    gap: 17px;
  }

  &__agency {
    max-width: 182px;
    margin-bottom: 20px;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__chat {
    max-width: 157px;
    margin-top: 10px;
    text-align: center;
  }

  &__qr-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.about {
  padding: 68px 0;

  &__inner {
    display: flex;
    align-items: center;
    gap: 45px;
  }

  &__content {
    max-width: 350px;
    text-align: center;
  }

  &__title {
    @extend %roboto-400;
    font-size: 70px;
    line-height: 90px;
    margin-bottom: 50px;
    letter-spacing: 0.1em;
  }

  &__descr {
    margin-bottom: 80px;
    text-align: center;
    font-size: 16px;
    line-height: 21px;
  }

  &__btn {
    padding: 20px 68px;
  }

  &__video-box {
    max-width: 745px;
    width: 100%;
    height: 440px;
    background-image: url('../images/backround__image/1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__video {
    background: #D60000;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.plan {
  padding: 30px 0;

  &__title {
    text-align: center;
    @extend %roboto-400;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 10px;
  }

  &__box {
    max-width: 980px;
    padding: 15px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 55px;

    &::after {
      content: '';
      position: absolute;
      width: 73px;
      height: 73px;
      border: 1px solid #000000;
      top: 14px;
      left: 14px;
      z-index: -1;
    }

    &::before {
      content: '';
      position: absolute;
      width: 73px;
      height: 73px;
      border: 1px solid #000000;
      top: 14px;
      right: 14px;
      z-index: -1;
    }
  }

  &__line-1 {
    width: 73px;
    height: 73px;
    border: 1px solid #000000;
    position: absolute;
    bottom: 14px;
    left: 14px;
    z-index: -1;
  }

  &__line-2 {
    width: 73px;
    height: 73px;
    border: 1px solid #000000;
    position: absolute;
    bottom: 14px;
    right: 14px;
    z-index: -1;
  }

  &__img {
    object-fit: cover;
    width: 100%;
  }

  &__descr {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
  }
}

.group {
  padding: 30px 0;
  padding-bottom: 60px;

  &__title {
    text-align: center;
    @extend %roboto-400;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 70px;
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
  }

  &__img-box {
    max-width: 344px;
    height: 123px;
  }

  &__img {
    width: 100%;
  }

  &__item {
    font-size: 34px;
    line-height: 34px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

}




.home {
  padding-top: 90px;
  padding-bottom: 15px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
  }

  &__content {
    max-width: 615px;
    width: 100%;
  }

  &__title {
    @extend %roboto-400;
    font-size: 80px;
    line-height: 90px;
    margin-bottom: 20px;
  }

  &__descr {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 15px;
    max-width: 380px;
  }

  &__btn {
    margin-top: 52px;
    display: inline-block;
  }
}

.home-list {
  padding-top: 15px;
  padding-bottom: 100px;

  &__title {
    @extend %roboto-400;
    font-size: 80px;
    line-height: 90px;
    margin-bottom: 36px;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 20px;
    row-gap: 46px;
    flex-wrap: wrap;
  }
  &__img-box{
    position: relative;
  }

  &__img-sale{
    position: absolute;
    top: 20px;
    right: 0;
    max-width: 213px;
    height: 134px;
    display: none;
  }
  &__saled{
    display: block;
  }
  &__item {
    border: 1.58599px solid #8D3500;
    border-radius: 28.5478px;
    min-height: 250px;
    max-width: 560px;
    display: flex;
    align-items: center;
    gap: 28px;
    padding: 30px 20px;
    margin: 0 auto;
  }

  &__item-title {
    font-size: 30px;
    @extend %roboto-400;
    line-height: 32px;
    color: #000;
    margin-bottom: 40px;
    display: inline-block;
  }

  &__item-descr {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 32px;
    max-width: 275px;
  }

  &__content {
    max-width: 275px;
  }

  &__title-btn {
    @extend %monts-500;
    font-size: 16px;
    margin-right: 0;
    color: #000;
    display: inline-block;
    padding-right: 20px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 13px;
      height: 7px;
      background-image: url('../images/icons/arrow-right-small.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__title-btn__box {
    display: flex;
    justify-content: end;
    position: relative;
  }
}


.info-page{
  padding: 60px 0;
  &__inner{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 30px;
  }
  &__inner-img__box{
    max-width: 720px;
    width: 100%;
    max-height: 423px;
  }
  &__inner-img{
    object-fit: cover;
    width: 100%;
  }
  &__content{
    max-width: 380px;
  }
  &__title{
    @extend %monts-600;
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 29px;
  }
  &__text{
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 10px;
  }
  &__btn{
    margin-top: 67px;
    display: inline-block;
  }
  &__img-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  &__img-inner-box{
    position: relative;
  }
  &__photo-sale{
    max-width: 432px;
    width: 100%;
    max-height: 272px;
    display: none;
  }
  &__saled-style{
    position: absolute;
    top: 20px;
    left: 0;
  }
  &__saled{
    display: block;
  }
  &__box{
    border: 1px solid #8D3500;
    border-radius: 17px;
    padding: 15px 44px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;
    margin-bottom: 40px;
  }
  &__item{
    margin: 0 auto;
    &:last-child{
    }
  }
  &__bottom-text{
    font-size: 26px;
    line-height: 31px;
  }
  &__form-inner{
    padding: 22px 9px 22px 32px;
    border: 1px solid #8D3500;
    border-radius: 17px;
    max-width: 390px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 34px;
    line-height: 41px;
    position: relative;

    &::after{
      content: '';
      pointer-events: none;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 7px;
      background-image: url('../images/icons/arow-down.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 999;
    }
    span{
      margin-right: 2px;
    }
  }
  &__select{
    @extend %monts-500;
    border: none;
    background: linear-gradient(179.24deg, #EB9562 0.66%, #FFFFFF 155.42%);
    border-radius: 15px;
    padding: 0 30px 0 16px;
    font-size: 25px;
    line-height: 29px;
    appearance: none;
    option{
      background: linear-gradient(179.24deg, #EB9562 0.66%, #FFFFFF 155.42%);
      border-radius: 15px;
    }
  }
}
.about-city{
  padding: 75px 0;
  &__title{
    @extend %roboto-400;
    font-size: 86px;
    line-height: 100px;
    text-align: center;
    margin-bottom: 40px;
  }
  &__descr{
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 44px;
  }
  &__inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 38px;
  }
  &__item{
    max-width: 574px;
    height: 360px;
  }
  &__fancy-link{
    height: 100%;
  }
  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__btn-box{
    display: flex;
    justify-content: center;
  }
  &__btn{
    display: inline-block;
    margin-top: 60px;
  }
}

.contact{
  padding-bottom: 80px;
  &__inner{
      padding-top: 89px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background-image: url('../images/icons/tel.png');
    background-position: right 70px;
    background-size: auto;
    background-repeat: no-repeat;
  }
  &__content{
    max-width: 750px;
    width: 100%;
  }
  &__title{
    font-size: 86px;
    line-height: 100px;
    @extend %roboto-400;
    margin-bottom: 50px;
    text-align: center;
  }
  &__item{
    font-size: 43px;
    line-height: 56px;
    margin-bottom: 34px;
    display: flex;
    align-items: center;
  }
  &__link{
    color: #000;
  }
  &__link-icon{
    width: 45px;
    height: 48px;
    margin-left: 10px;
  }
  &__address{
    font-style: normal;
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 56px;
  }
  &__btn{
    display: inline-block;
  }
  &__cart{
    width: 100%;
    height: 592px;
  }
  &__descr{
    color: #8D3500;
    text-align: center;
    font-size: 26px;
    line-height: 32px;
    @extend %monts-500;
    margin-top: 30px;
  }
}
@import 'media';